html {
    font-size: 16px;
}

body {
    background-color: rgb(6, 100, 112);
    padding: 1rem;
    font-family: Arial;
    color: rgb(222, 248, 252);
}

h1, h2, h3,
h4, h5, h6 {
    color: rgb(157, 226, 243);
}

