body {
    background-color: rgb(3, 87, 83);
    font-size: 16px;
    font-family: Arial;
    text-indent:0px;
    color: rgb(222, 248, 252);
}

h1, h2, h3,
h4, h5, h6 {
    color: rgb(136, 226, 248);
    padding:1rem;
}

#cheatCodeCollection {
    padding:1rem;
    padding-bottom: 3rem;
}

#cheatBlock {
    padding-top:2rem;
    padding-bottom: 2rem;
}

#codeBlock {
    background-color: rgb(33, 34, 34);
    border-radius: 1rem;
    padding:2rem;
    font-family: monospace;
}
