#page {
	counter-reset: heading;
}

h1:before {
	content: counter(heading)" ";
	counter-increment: heading;
	counter-reset: subheading;
}

h2:before {
	content: counter(heading)"." counter(subheading)" ";
	counter-increment: subheading;
}