body {
	counter-reset: level1Header;
	counter-reset: level2Header;
	counter-reset: level3Header;
}

h1:before {
	counter-increment: level1Header;
	content: counter(level1Header)" ";
}

h1 {
	counter-reset: level2Header;
}

h2:before {
	counter-increment: level2Header;
	content: counter(level1Header)"." counter(level2Header)" ";
}

h2 {
	counter-reset: level3Header;
}

h3:before {
	counter-increment:level3Header;
	content:counter(level1Header) "." counter(level2Header) "." counter(level3Header)" ";
}