body {
    padding: 3rem;
    background-color: rgb(10, 109, 112);
    color:rgb(140, 243, 234);
    font-family: Arial;
    font-size: 16px;
}

h1, h2, h3,
h4, h5, h6 {
    color:rgb(45, 240, 224);
}

.cheatCodeCollection{
    padding-bottom:3rem;
}

.cheatBlock{
    padding-top:1rem;
    padding-bottom:1rem;
}

.cheatExplanationBlock{
    padding: 1rem;
}

.codeBlock {
    background-color: rgb(74, 86, 87);
    border-radius: 10px;
    padding: 1rem;
    font-family: monospace;
    margin-left:1rem;
    margin-right:1rem;
}