body {
    padding: 3rem;
    background-color: rgb(10, 109, 112);
    color:rgb(140, 243, 234);
    font-family: Arial;
    font-size: 16px;
}

h1, h2, h3,
h4, h5, h6 {
    color:rgb(45, 240, 224);
}

.mainStyle{
    padding:1rem;
    padding-bottom:2rem;
}

.cheatCodeCollection{
    padding-bottom:3rem;
}

.cheatBlock{
    padding-top:1rem;
    padding-bottom:1rem;
}

.cheatExplanationBlock{
    padding: 1rem;
}

.codeBlock {
    background-color: rgb(31 32 33);
    border-radius: 10px;
    padding: 1rem;
    font-family: monospace;
    margin-left:1rem;
    margin-right:1rem;
}

.customHeading {
    display: block;
    font-size: 3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}